body {
	margin: 0;
	/*background: #000;*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
}

#fond { 
	border-top: 1vh solid white;
	border-bottom: 1vh solid white;
	background: rgba(0,0,0,0.8);
	margin-top:30%;
	height:15vh;
	display: block;
	position: relative;
}

#check{
	margin-left:5%;
	background:white;
	height:100%;
	width:20vh;
	position: absolute;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.6) , rgba(255,255,255,0.9), rgba(0,0,0,0.6)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, rgba(0,0,0,0.6) , rgba(255,255,255,0.9), rgba(0,0,0,0.6)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, rgba(0,0,0,0.6) , rgba(255,255,255,0.9), rgba(0,0,0,0.6)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, rgba(0,0,0,0.6) , rgba(255,255,255,0.9), rgba(0,0,0,0.6)); /* Standard syntax */

}

@font-face {
	font-family: "Cursif";
	src: url("../fonts/Cursif.ttf");
}

.score {
	font-size: 200% ;
	font-weight: bold; 
	font-family: "Cursif";
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
}

#message {
	font-size: 600% ;
	font-weight: bold; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	visibility: hidden;
	color:white;
}

.info, .liens {
	font-size: 100%;
	font-weight: bold; 
	font-family: "Cursif";
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: lime;
}

/* --------- */
/* Encapsuler les éléments - doit ce trouver au centre de la zone - modif dynaque de la vitesse*/
.box {
	width: 2vw;
	height: 2vw; /*vh*/
	/*border: 5px solid #B000B5; /*DEBUG*/

	position:absolute;
	top: 35%;
   	vertical-align:middle;
	line-height: normal;
	right: 0;
    -webkit-animation: move 3s linear forwards;
    animation: move 3s linear forwards;
}

#arrow {
	--pos-x1: 0;
	--pos-x2: calc(100% - (1/3 * 100%));
	--pos-y1: calc(1/3 * 100%);
	--pos-y2: calc(2/3 * 100%);
	
	background: #000;

	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, white, white); 
	clip-path: polygon(
		var(--pos-x1) var(--pos-y1),
		var(--pos-x2) var(--pos-y1),
		var(--pos-x2) 0,
		100% 50%,
		var(--pos-x2) 100%,
		var(--pos-x2) var(--pos-y2),
		var(--pos-x1) var(--pos-y2)
	);
}

.arrow-right { -webkit-transform: rotateZ(0deg); /*margin-top:-2vh;*/ }

.arrow-left { -webkit-transform: rotateZ(180deg); /*margin-top:2vh;*/ }

.arrow-up { -webkit-transform: rotateZ(270deg); /*margin-top:-5vh;*/ }

.arrow-down { -webkit-transform: rotateZ(90deg); /*margin-top:5vh;*/ }

/* A modif ? */
.push{
	background:#bfd70e;
	border-radius:50%;
	width: 100%;
	height: 100%;
}

@keyframes move {
    100% { right: calc(100%); }
}
@-webkit-keyframes move {
    100% { right: calc(100%); }
}

.validate{
	height: 200% !important;
  	width: 200% !important;
  		border-radius:50%!important;
  	transition: move 3s linear backward;
  	transition: height,  linear 0.5s;
  	transition: width, linear 0.5s;
  	opacity:0;
}

