body {
	margin: 0;
	background: #000; 
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
}

#fond { 
	border:solid white;
	border-width:10px 0 10px 0;
	background: rgba(0,0,0,0.8);
	margin-top:15%;
	height:50%;
}

#check{
	margin-left:5%;
	background:white;
	height:100%;
	width:200px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.6) , rgba(255,255,255,0.9), rgba(0,0,0,0.6)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, rgba(0,0,0,0.6) , rgba(255,255,255,0.9), rgba(0,0,0,0.6)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, rgba(0,0,0,0.6) , rgba(255,255,255,0.9), rgba(0,0,0,0.6)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, rgba(0,0,0,0.6) , rgba(255,255,255,0.9), rgba(0,0,0,0.6)); /* Standard syntax */

}

/* --------- */
/* Encapsuler les éléments -doit ce trouver au centre de la zone*/
.box {
	width: 170px;
	height: 170px;
	border: 5px solid #B000B5; /*DEBUG*/

	/*border-width: 100px 100px 100px 100px;*/

	position:fixed;
	right: 0;
	top: 50%;
    -webkit-animation: move 3s linear forwards;
    animation: move 3s linear forwards;
}

#arrow {
	--pos-x1: 0;
	--pos-x2: calc(100% - (1/3 * 100%));
	--pos-y1: calc(1/3 * 100%);
	--pos-y2: calc(2/3 * 100%);
	
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #FB1, #BADA55); 
	
	clip-path: polygon(
		var(--pos-x1) var(--pos-y1),
		var(--pos-x2) var(--pos-y1),
		var(--pos-x2) 0,
		100% 50%,
		var(--pos-x2) 100%,
		var(--pos-x2) var(--pos-y2),
		var(--pos-x1) var(--pos-y2)
	);
}

.arrow-right { -webkit-transform: rotateZ(0deg); }

.arrow-left { -webkit-transform: rotateZ(180deg); }

.arrow-up { -webkit-transform: rotateZ(270deg); }

.arrow-down { -webkit-transform: rotateZ(90deg); }

/* A changer */
.push{
	background:white;
	border-radius:50%;
	width:129.9px;
	height:129.9px;
	border:4px solid black; 
	position:fixed;
	right: 0;
	top: 50%;
    -webkit-animation: move 3s linear forwards;
    animation: move 3s linear forwards;
}

/* A changer */
.clap{
	
}

/* --------- */

.push.good{
	background:#00ccff!important;
	border-color:#00ccff!important;
}

.up.good{
	border-color:transparent transparent #00ccff transparent!important;
}

.down.good{
	border-color:#00ccff transparent transparent transparent!important;
}

.left.good{
	border-color:transparent #00ccff transparent transparent!important;
}

.right.good{
	border-color:transparent transparent transparent #00ccff!important;
}

@keyframes move {
    100% { right: calc(100%); }
}
@-webkit-keyframes move {
    100% { right: calc(100%); }
}

